{% extends 'base.html' %}
{% load bootstrap4 %}

{% block title %}Новая тема · {{ block.super }}{% endblock %}

{% block content %}
<div class="card form-card mx-auto">
  <div class="card-body p-4">
    <h1 class="h3 mb-4">Новая тема</h1>
    <form method="post" action="{% url 'learning_logs:new_topic' %}" novalidate>
      {% csrf_token %}
      {% bootstrap_form form %}
      <div class="d-flex flex-wrap">
        {% bootstrap_button 'Создать тему' button_type='submit' button_class='btn-primary mr-2 mb-2' %}
        <a class="btn btn-outline-secondary mb-2" href="{% url 'learning_logs:topics' %}">Отмена</a>
      </div>
    </form>
  </div>
</div>
{% endblock content %}
